.page {
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  max-width: 1080px;
  font-family: 'Inter', 'Arial', sans-serif;
  position: relative;
}

@media (max-width: 1080px){
  .page {
    padding: 0 50px;
  }
}