.place-card__annotation {
    margin: 0;
    padding: 0 30px 0 21px;
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    min-height: 79px;
    border-radius:  0 0 10px 10px;
  }